.header{
    width: 100%; 
    background-image: url(../../assets/universo.jpg);
    background-size: cover;
    background-position: center;
    height: 8rem;
}

.logoMultiverse{
    display: flex;
    justify-content: center;
    width: 100%;
    color: aqua;
    font-style: oblique;
    font-size: 70px;
    padding: 15px;
    text-decoration: none;
    
}