.encabezado{
    margin-top: 20px;
    text-align: center;
    color: azure;
    font-size: 40px;
}

.contenedor-detalle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-decoration: none;
}

.DetailList{
    width: 80%;
    margin-left: 150px;
    margin-top: 35px;
}

.descripcion{
    color: azure;
}

.des2{
    font-style: oblique;
    margin-top: 15px;
    font-size: 23px;
}

.div-compra{
    padding: 15px;
    margin-top: 20px;
    font-size: 15px;
}

.contenedor-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
  }
